<#+
// <copyright file="ComponentGenerator.tt" company="">
//  Copyright © . All Rights Reserved.
// </copyright>

public class ComponentGenerator : Generator
{
	protected override void RunCore()
    {
		
	}
}
#>
