<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="ComponentTemplate.ttinclude" #>
<#
var t = ComponentTemplate.FromInterface<ITestComponent>();
t.Render();
#>
<#+
public interface ITestComponent 
{
	string TestString { get; set; }
}
#>