<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net45" />
  <package id="FluentAssertions" version="4.14.0" targetFramework="net45" />
  <package id="Moq" version="4.5.21" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging" version="3.2.3.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging.nlog4" version="3.2.3.0" targetFramework="net45" />
  <package id="NLog" version="4.3.8" targetFramework="net45" />
  <package id="NUnit" version="3.4.1" targetFramework="net45" />
</packages>