<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="4.2.1" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.MockingKernel" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.MockingKernel.Moq" version="3.2.2.0" targetFramework="net45" />
  <package id="NUnit" version="3.0.1" targetFramework="net45" />
  <package id="Shouldly" version="2.6.0" targetFramework="net45" />
</packages>