<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

	<targets>
		<target name="logfile" xsi:type="File" fileName="output_log.txt" />
		<target name="console" xsi:type="ColoredConsole" layout="${time:padding=10:fixedLength=true} ${level:uppercase=true:padding=6:fixedLength=true} ${logger:padding=-40:fixedLength=true:alignmentOnTruncation=right} ${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>