<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging" version="3.2.0.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging.nlog4" version="3.2.3.0" targetFramework="net45" />
  <package id="NLog" version="4.2.3" targetFramework="net45" />
  <package id="NLog.Config" version="4.2.3.1" targetFramework="net45" />
  <package id="NLog.Schema" version="4.0.0" targetFramework="net45" />
  <package id="Shouldly" version="2.6.0" targetFramework="net45" />
</packages>