<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.1.5" targetFramework="net45" />
  <package id="Nett" version="0.5.0" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Conventions" version="3.2.1-unstable-005" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging" version="3.2.3.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging.nlog4" version="3.2.3.0" targetFramework="net45" />
  <package id="NLog" version="4.3.8" targetFramework="net45" />
  <package id="NLog.Schema" version="4.3.8" targetFramework="net45" />
  <package id="SDL2-CS.dll" version="2.0.0.0" targetFramework="net45" />
  <package id="Shouldly" version="2.8.2" targetFramework="net45" />
</packages>